

.custom-bg {
    background-color: var(--highlight-bg); 
    padding: 20px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .movie-item {
    width: calc(33.33% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px; 
  }
  
  .movie-content {
    background-color: var(--mask-bg); 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    color: var(--text-color);
  }
  
  .movie-img {
    max-width: 100%; 
    margin-bottom: 10px; 
  }
  
  .movie-details {
    text-align: center; 
  }
  
  .movie-details h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
  }
  
  .btn-favorite {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .btn-favorite:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }

  .btn-favorite[disabled]:hover {
    background-color:var(--primary-color) ; 
    color: inherit; 
    box-shadow: none; 
  }