

.custom-bg {
    background-color: var(--highlight-bg); 
    padding: 20px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples líneas */
  }
  
  .movie-item {
    width: calc(33.33% - 20px); /* Ajusta el ancho del elemento para que haya tres en una fila */
    margin-right: 20px; /* Espacio entre los elementos */
    margin-bottom: 20px; /* Espacio debajo de los elementos */
  }
  
  .movie-content {
    background-color: var(--mask-bg); /* Color de fondo del contenido de la película */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    color: var(--text-color);
  }
  
  .movie-img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    margin-bottom: 10px; /* Espacio inferior de la imagen */
  }
  
  .movie-details {
    text-align: center; /* Alinea el contenido al centro */
  }
  
  .movie-details h2 {
    margin-top: 0; /* Elimina el margen superior del título */
    margin-bottom: 10px; /* Espacio inferior del título */
  }
  
  .btn-favorite {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .btn-favorite:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }

  .btn-favorite[disabled]:hover {
    background-color:var(--primary-color) ; 
    color: inherit; 
    box-shadow: none; 
  }